        .r { /*для левой колонки*/
            width: 20%;
            float: right;
            /*position: static;*/
            border-bottom: 1px;
            border-top: 1px;
            text-align: center;
            border-color: black;
            padding-right: 30%;
        }

        .l {
            width: 20%;
            border-bottom: 1px;
            border-top: 1px;
            float: left;
            position: static;
            text-align: center;
            border-color: white;
            padding-left: 30%;
        }